@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);


body {
    text-align: center;
    background-color: #00ccff;
    font-family: "VT323", monospace ;
    color: white;
 }


canvas {
	background-color: #00ccff;
	padding: 0;
    margin: auto;
    display: block;
    width: 505px;
    height: 606px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.controls {
	margin-top: 5%;
}


button {
	margin-left: auto;
	margin-right: auto;
}


button :hover {
	margin-top: -5%;
}


.char {
	background-color: transparent;
	border: none;
	outline: none;
}


h1 {
	margin-top: 20%;
	color: white;
	font-weight: 300;
}


h3 {
	font-weight: 200;
	color: white;
}


h2 {

	display: inline;
	font-weight: 300;
}